<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse auswaehlen</title>
</head>
<body>
    Wählen sie eine Klasse für die Konferenz
    <div th:each="class : ${classes}" th:object="${class}">
        <a th:text="*{name}" href="#" th:href="@{/Konferenz/Klasse/{id}(id=*{token})}">Klasse</a>
    </div>
</body>
</html>